{% load bootstrap3 %}

<form method="POST" action="#" onkeypress="return event.keyCode != 13;">
   <!-- {% bootstrap_form form %} 
    {% bootstrap_field form.data %}
    {% bootstrap_field form.num_bobinagem %}
    {% bootstrap_field form.data %}
    {% bootstrap_field form.data %} -->
    <div class="container">
        <h1>Retrabalho</h1>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.data %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.inico %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.fim %}
                    
                    
        
            </div>
    </div>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.num_bobinagem %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.perfil %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.estado %}
                    
                    
        
            </div>
    </div>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.diam %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    
                    {% bootstrap_field form.comp %}
                    
        
            </div>
            
    </div>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.num_emendas %}
                    
                    
        
            </div>
           
        
            
    </div>
    
   
    </br>
    <div class="row">    
            {% csrf_token %}
            <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary pull-left" role="button">Voltar</a>
            <input type="submit" class="btn btn-primary pull-right" value="Submeter">
        </div>
    
</div>

    
</form>


