{% load bootstrap3 %}

<form method="POST" action="{% url 'producao:bobinagem_create' %}" onkeypress="return event.keyCode != 13;">
    {% bootstrap_form form %}
    <!-- {% bootstrap_field form.data %}
    {% bootstrap_field form.num_bobinagem %}
    {% bootstrap_field form.data %}
    {% bootstrap_field form.data %} -->
    {% csrf_token %}
    <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary" role="button">Voltar</a>
    <input type="submit" class="btn btn-primary" value="Gravar">
    
</form>


