{% extends "layout.html "%}



{% block title %}Bobinagens | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'home' %}" class="btn btn-primary" role="button">Voltar</a>
    <a href="{% url 'producao:bobinagem_create' %}"  class="btn btn-primary pull-right" role="button">Criar bobinagem</a>
</div>
<div class="container-fluid table-responsive">
    

                <table id="fixed_hdr2" class="table fit">
                        <tr>
                            <th>Bobinagem</th>
                            <!-- <th>Estado</th> -->
                            <th>Data</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th>Duração</th>
                            <th>Core (")</th>
                            <th>Lote Nonwoven Sup</th>
                            <th>Lote Nonwoven Inf</th>
                            <th>Nw Sup (m)</th>
                            <th>Nw Inf (m)</th>
                            <th>Comp (m)</th>
                            <th>Comp Emenda (m)</th>
                            <th>Comp Cliente (m)</th>
                            <th>Desperdicio (m2)</th>
                            
                            <th>Diâmetro (mm)</th>
                            <th>Área (m2)</th>
                                                 

                           
                            
                            
                        </tr>
                        {% for obj in object_list %}
                        {% if obj.perfil.retrabalho == False %}
                        <tr>
                            <td><a href='{{ obj.get_absolute_url }}'>{{ obj.nome }}</a></td>
                            
                            <!-- {% if obj.estado == "G" %}
                                <td id="estado_good">{{ obj.estado }}</td>
                            {% elif obj.estado == "DM"%}
                                <td id="estado_dm">{{ obj.estado }}</td>
                            {% elif obj.estado == "R" %}
                                <td id="estado_rejected">{{ obj.estado }}</td>
                            {% elif  obj.estado == "BA"%}
                                <td id="estado_ba">{{ obj.estado }}</td>
                            {% else %}
                                <td id="estado_lab">{{ obj.estado }}</td>
                            {% endif %} -->
                            <td>{{ obj.data|date:"d-n-Y" }}</td>
                            <td>{{ obj.inico|date:"G:i" }}</td>
                            <td>{{ obj.fim|date:"G:i" }}</td>
                            <td>{{ obj.duracao }}</td>
                            <td>{{ obj.perfil.core }}</td>
                            <td>{{ obj.lotenwsup }}</td>
                            <td>{{ obj.lotenwinf }}</td>
                            <td>{{ obj.nwsup}}</td>
                            <td>{{ obj.nwinf }}</td>
                            <td>{{ obj.comp }}</td>
                            <td>{{ obj.comp_par }}</td>
                            <td>{{ obj.comp_cli }}</td>
                            <td>{{ obj.desper }}</td>
                            <td>{{ obj.diam }}</td>
                            <td>{{ obj.area }}</td>
                           
                            {% if obj.estado == "LAB" %}
                            <td><a href="{% url 'producao:bobinagem_status' pk=obj.pk operation='ap' %}" class="btn btn-success">Aprovar</a></td>     
                            <td><a href="{% url 'producao:bobinagem_status' pk=obj.pk operation='rej' %}" class="btn btn-danger">Rejeitar</a></td>   
                            <td><a href="{% url 'producao:bobinagem_status' pk=obj.pk operation='dm' %}" class="btn btn-warning">DM12</a></td>   
                            {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                            {% endif %}
                            
                              
                            
                            <td><a href="{% url 'producao:bobinagem_delete' pk=obj.pk %}" class="btn btn-primary">Apagar</a></td>     
                           
                         
                             
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
       
        

    
    
</div>






{% endblock %}