{% extends "layout.html" %}

{% block head_title %}Bobinagem{% endblock head_title %}
{% block content %}

<div class="container">
    <div class="container">
        <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary" role="button">Voltar</a>
    </div>
<div class="container">
    <div class="row">
            <h2>Detalhes:{{ bobinagem.nome }}</h2>
            <br/>
            
            <div class="container col-md-6">
                <!-- <p>Data: {{ bobinagem.data|date:"d-n-Y" }}</p>
                <p>Emendas: {{ bobinagem.num_emendas }}</p>
                <p>Comprimento: {{ bobinagem.comp }}</p>
                <p>Diâmetro: {{ bobinagem.diam }}</p>
                <p>Área: {{ bobinagem.area }}</p>
                <p>Ínicio: {{ bobinagem.inico|date:"G:i"  }}</p>
                <p>Fim: {{ bobinagem.fim|date:"G:i"  }}</p>
                <p>Duração: {{ bobinagem.duracao }}</p> -->
                <table>
                    <tr>
                       <th>Data:</th>
                       <td>{{ bobinagem.data|date:"d-n-Y" }}</td>
                    </tr>
                    <tr>
                        <th>Emendas:</th>
                        <td>{{ bobinagem.num_emendas }}</td>
                    </tr>
                    <tr>
                        <th>Comprimento (m):</th>
                        <td>{{ bobinagem.comp }}</td>
                    </tr>
                    <tr>
                        <th>Diâmetro (mm):</th>
                        <td>{{ bobinagem.diam }}</td>
                    </tr>
                    <tr>
                        <th>Área (m2):</th>
                        <td>{{ bobinagem.area }}</td>
                    </tr>
                    <tr>
                        <th>Ínicio:</th>
                        <td>{{ bobinagem.inico|date:"G:i" }}</td>
                    </tr>
                    <tr>
                        <th>Fim:</th>
                        <td>{{ bobinagem.fim|date:"G:i" }}</td>
                    </tr>
                    <tr>
                        <th>Duração:</th>
                        <td>{{ bobinagem.duracao }}</td>
                    </tr>
                         
                    
                </table>
            </div>
            <div class="container col-md-6">
                    <!-- <div class="container col-md-6">
                        <h2>Nonwoven Superior</h2>
                        <p>{{ bobinagem.tiponwsup }}</p>
                        <p>{{ bobinagem.lotenwsup }}</p>
                        <p>{{ bobinagem.nwsup }}</p>
                    </div>
                    <div class="container col-md-6">
                        <h2>Nonwoven Inferior</h2>
                        <p>{{ bobinagem.tiponwinf }}</p>
                        <p>{{ bobinagem.lotenwinf }}</p>
                        <p>{{ bobinagem.nwinf }}</p>
                    </div> -->
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nonwoven Superior</th>
                                <th>Nonwoven inferior</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tipo:</th>
                                <td>{{ bobinagem.tiponwsup }}</td>
                                <td>{{ bobinagem.tiponwinf }}</td>
                            </tr>
                            <tr>
                                <th>Lote:</th>
                                <td>{{ bobinagem.lotenwsup }}</td>
                                <td>{{ bobinagem.lotenwinf }}</td>
                            </tr>
                            <tr>
                                <th>Consumo (m):</th>
                                <td>{{ bobinagem.nwsup }}</td>
                                <td>{{ bobinagem.nwinf }}</td>
                            </tr>
                        </tbody>
                    </table>

            </div>
              

    </div>
    <br/>
    <div class="row">
    
    <!-- {% if bobinagem.estado == 'G' %}
        <h2 id="estado_good">{{ bobinagem.estado }}</h2>
    {% elif bobinagem.estado == 'DM' %}
        <h2 id="estado_dm">{{ bobinagem.estado }}</h2>
    {% elif bobinagem.estado == 'R' %}
        <h2 id="estado_rejected">{{ bobinagem.estado }}</h2>
    {% elif  obj.estado == "BA"%}
        <h2 id="estado_ba">{{ bobinagem.estado }}</h2>
    {% else %}
        <h2 id="estado_lab">{{ bobinagem.estado }}</h2>
    {% endif %} -->
        <h3>Bobines</h3>
      <table class="table table-fixed">
          <thead>
            <tr>
                <th>Nome</th>
                <th>Largura</th>
                <th>Área</th>
                <th class="check">Estado</th>
                <th class="check">Cónico</th>
                <th class="check">Descentrado</th>
                <th class="check">Presa</th>
                <th class="check">Estrela</th>
                <th class="check">Furos</th>
                <th class="check">Espessura</th>
                <th class="check">Troca</th>
                <th class="check">Outros</th>
                <th>Observações</th>
            </tr>
        </thead>
            {% for item in bobine %}
            <tbody>    
            <tr>
                <td><a href="{% url 'producao:bobineupdate' item.pk %}">{{ item.nome }}</a></td>
                <td>{{ item.largura.largura }}</td>
                <td>{{ item.area }}</td>
                {% if item.estado == "G" %}
                    <td id="estado_good">{{ item.estado }}</td>
                {% elif item.estado == "DM"%}
                    <td id="estado_dm">{{ item.estado }}</td>
                {% elif item.estado == "R" %}
                    <td id="estado_rejected">{{ item.estado }}</td>
                {% elif item.estado == "LAB" %}
                    <td id="estado_lab">{{ item.estado }}</td>
                {% else %}
                    <td id="estado_ba">{{ item.estado }}</td>
                {% endif %}
                {% if not item.con %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.descen %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.presa %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.estrela %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.furos %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.esp %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.troca_nw %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.outros %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}
          
                <td>{{ item.obs }}</td>
                          
            </tr>
        </tbody>  
            {% endfor %}
        </table>
             

        {% if bobinagem.obs == "" %}
        <p></p>
        {% else %}
        <div class="container">
            <p>Observações:</p>
            <p>{{ bobinagem.obs }}</p>
            
            
        </div>
        {% endif %}
        {% if bobinagem.num_emendas > 0 %}
        <div class="container">
                <p>Emendas</p>
                {% if emenda.bobinagem != "" %}
                    <table class="table">
                        <tr>
                            <th>Emenda nº</th>
                            <th>Metros</th>
                            <th>Bobine original</th>
                            <th>Metros gastos</th>
                        </tr>
                        {% for em in emenda %}
                        <tr>
                            <td>{{ em.num_emenda }}</td>
                            <td>{{ em.emenda }}</td>
                            <td>{{ em.bobine }}</td>
                            <td>{{ em.metros }}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                
        
            </div>
        {% else %}
        <div class="container">
            
            <p></p>
            
            
        </div>
        {% endif %}


        </div>
    </div>
    </div>
</div>


{% endblock %}